<h1>Users Component</h1>
<p>Hello {{ name }}</p>
<p>My Boolean: {{ myBoolean }}</p>
<button (click)="sayGreetings()">say Hello</button>

@if (deveMostrarTitulo) {
    <h2>Formulário</h2>
} @else if (name == "lp") {
    <h2>Nome é igual a LP</h2>
} @else {
    <p>Não está mostrando o titulo</p>
}

<button (click)="toggleTitle()">Mostrar título</button>
<form class="myform" (submit)="submit($event)">
  <div class="campo">
      <label for="name">Nome</label>
      <input type="text" name="name" id="name" placeholder="Escreva seu nome" />
    </div>
    <button class="button_form">Enviar</button>
</form>

<h2>Estrutura condicional</h2>

@for (user of users; track user.id) {
    <p>{{user.name}}</p>
}

<h1>Sintaxe antiga</h1>

<p *ngIf="deveMostrarTitulo">Condicional antiga true</p>
<p *ngIf="!deveMostrarTitulo">Condicional antiga false</p>

<p *ngFor="let user of users">{{user.name}}</p>
